/* ------------------------------------------------------------ *\
	Base Styles 
\* ------------------------------------------------------------ */

body {
	min-width: 320px;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base; 
	color: $gray;
}

a {
	color: $blue;
	text-decoration: none; 
	transition: $default-transition;

	&:hover {
		text-decoration: underline; 
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: calc(#{$line-height-base}em / 3); 
	color: inherit; 
	line-height: 1.2; 
	font-weight: 500; 
	color: $blue; 
	text-transform: uppercase; 
}

h1 {
	margin-bottom: 15px; 
	font-family: $font-family-serif;
	font-size: 60px;
	line-height: 1; 
	font-weight: normal; 
	text-transform: none; 
}

h2 {
	margin-bottom: 20px; 
	font-size: 36px;
	line-height: 1.2; 
	color: $blue; 
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}


ul,
ol {
	overflow: hidden; 
	padding-left: 1.5em; 
}

p,
ul,
ol,
blockquote,
table {
	margin-bottom: #{$line-height-base}em; 

	&:last-child {
		margin-bottom: 0; 
	}
}

img {
	max-width: 100%;
	height: auto; 
	vertical-align: middle; 
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	h1 {
		font-size: 40px; 
	}

	h2 {
		font-size: 30px; 
	}
}
