/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block; 
	vertical-align: middle; 
	padding: 5px 20px; 
	border: 1px solid $blue; 
	border-radius: 8px;
	background: $blue; 
	font-size: 18px; 
	color: #fff; 
	font-weight: 500; 
	text-transform: uppercase; 
	appearance: none;
	cursor: pointer; 

	&:hover {
		background: transparent;
		color: $blue; 
		text-decoration: none; 
	}
}
