/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts {
	padding: 25px 0;
	background: $lightblue;
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.contacts {
		padding: 0; 
	}
}

/* ------------------------------------------------------------ *\
	Contacts Item
\* ------------------------------------------------------------ */

.contacts-item {
	display: flex;
	align-items: center;  
	max-width: 630px;
	margin: auto; 
	padding: 25px 0; 

	& + & {
		border-top: 1px dashed rgba($blue, .5);
	}

	&__icon {
		width: 25px; 
		margin-right: 20px; 
		font-size: 0; 
		text-align: center; 
	}

	&__text {
		flex: 1;

		a {
			color: inherit;

			&:hover {
				text-decoration: none; 
				color: $blue; 
			}
		}
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.contacts-item {
		font-size: 14px; 
	}
}
