/* ------------------------------------------------------------ *\
	Contributions
\* ------------------------------------------------------------ */

.contributions {
	padding: 30px 0; 
}

/* ------------------------------------------------------------ *\
	Contributions Item
\* ------------------------------------------------------------ */

.contributions-item {
	padding: 20px 0; 

	& + & {
		border-top: 1px dashed #79A7BC;
	}

	&__head {
		display: flex; 
		align-items: center; 
	}

	&__title {
		margin: 0; 
		font-size: 18px; 
	}

	&__meta {
		position: relative; 
		flex: 1;
		padding-left: 10px; 
		margin-left: 10px; 
		font-size: 18px; 
		font-weight: 500; 
		color: #75868F; 

		&:before {
			content: '|';
			position: absolute; 
			top: 0; 
			left: 0; 
		}
	}

	&__entry {
		font-size: 14px; 
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.contributions-item {
		&__head {
			display: block; 
			margin-bottom: 10px; 
		}

		&__meta {
			margin-left: 0; 
			padding-left: 0; 
			font-size: 14px; 

			&:before {
				display: none; 
			}
		}
	}
}
