/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright {
	text-align: center; 
	font-size: 14px; 
	color: #AEAEAE; 

	span {
		color: #fff; 
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.copyright {
		font-size: 12px; 
	}
}
