/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 5px 0; 
	background: $gray; 
	color: #fff; 
}
