/* ------------------------------------------------------------ *\
	Fullsize Image
\* ------------------------------------------------------------ */

.fullsize-image {
	background-size: cover; 
	background-position: 50% 50%; 

	& > img {
		display: none; 
	}
}
