/* ------------------------------------------------------------ *\
	Halfpane
\* ------------------------------------------------------------ */

.halfpane {
	padding: 50px 0; 

	&__inner {
		display: flex;
		align-items: center;
	}

	&__content {
		width: 50%;
		padding-right: 30px;
	}

	&__title {
		margin-bottom: 30px;
		text-transform: uppercase;
		color: $blue;
	}

	&__list {
		ul {
			@include reset-list;

			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px -25px;
			font-weight: 500;

		}

		li {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 25px;
		} 

		a {
			display: block; 
			color: inherit;

			&:hover {
				color: $blue;
				text-decoration: none; 
			}
		}
	}


	&__image {
		flex: 1;
		min-height: 700px;
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.halfpane {
		text-align: center; 

		&__inner {
			display: block; 
		}

		&__content {
			width: 100%; 
			padding-right: 0; 
			margin-bottom: 30px; 
		}

		&__image {
			max-width: 400px;
			min-height: 0;
			margin: auto; 

			&:before {
				content: '';
				display: block; 
				padding-top: 100%; 
			}
		}

		&__list {
			li {
				width: 33.33%; 
			}
		}
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.halfpane {
		&__list {
			font-size: 14px; 
			
			ul {
				margin: 0; 
			}

			li {
				width: 100%; 
				padding: 10px 0; 
				margin: 0; 
			}

			li + li {
				border-top: 1px solid rgba($blue, .1); 
			}
		}
	}	
}
