/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background: #fff;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 65px; 
	}

	&__content {
		display: flex;
		align-items: center;
	}

	.nav + .nav-lang-menu {
		margin-left: 15px;
	}

	&__bar {
		background: $blue; 
		color: #fff; 
	}

	&__contacts {
		ul {
			@include reset-list;
			display: flex;
			height: 35px; 
			align-items: center;  
			font-size: 14px; 
		}

		li {
			display: flex; 
			align-items: center; 

			& + li {
				margin-left: 30px; 
			}
		}

		svg {
			width: 15px; 
			margin-right: 10px; 
		}

		a {
			color: inherit;

			&:hover {
				text-decoration: none; 
			}
		}
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.header {
		&__content {
			position: absolute; 
			top: 100%; 
			left: 0; 
			right: 0; 
			background: #fff; 
			border-top: 1px solid rgba($blue, .1); 
			display: block; 
			opacity: 0; 
			visibility: hidden;
			transform: translateY(-20px); 
			transition: .3s;

			&.active {
				opacity: 1; 
				visibility: visible; 
				transform: translateY(0); 
			}
		}
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.header {
		&__bar {
			display: none; 
		}
	}
}
