/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

.text-center {
	text-align: center; 
}

.blue-bg {
	background: $lightblue; 
}
