/* ------------------------------------------------------------ *\
	Hero
\* ------------------------------------------------------------ */

.hero {
	position: relative;
	color: #fff;
	text-align: center; 

	&__image {
		@include stretch-absolute;

		&:before {
			@include stretch-absolute;

			content: '';
			z-index: 2;
			background: rgba(#003E68, .6);
		}
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 415px;
		padding: 85px 0;
		z-index: 3;
	}

	&__entry {
		font-size: 18px;
		line-height: 1.67;
	}

	&__title {
		margin-bottom: 20px; 
		text-transform: uppercase;
		color: inherit;

		&:last-child {
			margin-bottom: 0; 
		}
	}

	&--large {
		.hero__content {
			min-height: 700px;
		}
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.hero {
		&__entry {
			font-size: 14px;
		}

		&__logo {
			max-width: 400px;
		}

		&--large {
			.hero__content {
				min-height: 415px;
			}
		}
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.hero {
		&__content {
			min-height: 300px;
			padding: 50px 0; 
		}
	}
}
