/* ------------------------------------------------------------ *\
	Link
\* ------------------------------------------------------------ */

.link {
	display: inline-flex; 
	font-weight: 500; 
	font-size: 18px; 

	&__icon {
		margin-left: 5px; 
		transition: .3s;
	}

	&:hover {
		text-decoration: none; 

		.link__icon {
			transform: translateX(5px);
		}
	}
}
