/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	display: inline-block; 
	vertical-align: middle; 
	width: 180px; 
}
