/* ------------------------------------------------------------ *\
	Mixings
\* ------------------------------------------------------------ */

@mixin reset-list {
	list-style: none; 
	padding: 0; 
	margin: 0; 
}

@mixin stretch-absolute {
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
}

@mixin reset-button {
	border: 0; 
	background: transparent; 
	appearance: none;
	cursor: pointer; 
}
