/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	ul {
		@include reset-list;
		display: flex;
		align-items: center;
	}

	li + li {
		margin-left: 13px;
	}

	a {
		display: inline-flex;
		align-items: center; 
		justify-content: center; 
		height: 65px; 
		padding: 0 13px;
		border-top: 4px solid transparent;
		color: $gray;
		transition: all .4s;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		
	}
	.current-menu-item a {
		border-top-color: rgba($blue, .5);
		background: $lightblue;
		color: $blue;
		text-decoration: none;
	}

	a:hover {
		color: $blue; 
		text-decoration: none; 
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.nav {
		ul {
			display: block; 
		}

		li + li {
			margin-left: 0; 
		}

		li {
			border-bottom: 1px solid rgba($blue, .1); 
		}

		a {
			display: flex; 
			justify-content: flex-start; 
			height: 50px; 
			padding: 0 20px; 
			border: 0; 
			font-size: 14px; 
		}
	}
}
