/* ------------------------------------------------------------ *\
	Nav Lang
\* ------------------------------------------------------------ */

.nav-lang {
	display: none; 
	padding: 15px 20px; 
	font-size: 16px; 
	text-transform: uppercase; 

	ul {
		@include reset-list;
		display: flex; 
		align-items: center; 
	}

	li + li {
		margin-left: 15px; 
		padding-left: 15px; 
		border-left: 1px solid rgba($gray, .1); 
	}

	a {
		color: $gray; 
	}

	.current a {
		color: $blue; 
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.nav-lang {
		display: block; 
	}
}
