/* ------------------------------------------------------------ *\
	Nav Lang Menu
\* ------------------------------------------------------------ */

.nav-lang-menu {
	position: relative; 
	
	&__toggle {
		position: relative; 
		display: inline-block; 
		padding: 12px 40px 12px 12px; 
		border: 0; 
		border-radius: 8px;
		background: #F1F5F9; 
		appearance: none;
		font-size: 18px; 
		font-weight: 500; 
		text-transform: uppercase; 
		color: rgba(#3A4A53, .7); 
		cursor: pointer; 

		&:after {
			content: '';
			position: absolute; 
			top: 50%; 
			right: 15px; 
			width: 16px; 
			height: 8px; 
			margin-top: -4px; 
			background: url(../../images/dropdown-arrow.svg) no-repeat 0 0;
			background-size: 100% 100%;  
		}
	}

	&__dropdown {
		position: absolute; 
		top: 100%; 
		right: 0; 
		width: 100%; 
		border-radius: 8px;
		background: #F1F5F9; 
		font-size: 18px; 
		font-weight: 500; 
		text-transform: uppercase; 
		opacity: 0; 
		visibility: hidden; 
		transform: translateY(-10px); 
		transition: .3s;

		ul {
			@include reset-list;
		}

		.current {
			display: none; 
		}

		a {
			display: block; 
			padding: 0 12px; 
			color: rgba(#3A4A53, .7); 

			&:hover {
				text-decoration: none; 
				color: $blue; 
			}
		}
	}

	&.active {
		.nav-lang-menu__dropdown {
			opacity: 1; 
			visibility: visible; 
			transform: translateY(0); 
		}
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.nav-lang-menu {
		display: none; 
	}
}
