/* ------------------------------------------------------------ *\
	Partners
\* ------------------------------------------------------------ */

.partners {
	ul {
		@include reset-list;
		display: flex; 
		justify-content: center; 
		align-items: center; 
		flex-flow: wrap; 
	}

	li {
		padding: 15px 15px; 
	}

	a {
		display: block; 

		&:hover {
			opacity: .7; 
		}
	}

	img {
		max-width: 210px;
		max-height: 210px;
		width: 100%; 
		height: auto; 
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.partners {
		li {
			width: 50%; 
		}
	}
}
