/* ------------------------------------------------------------ *\
	Quote
\* ------------------------------------------------------------ */

.quote {
	padding: 80px 0; 
	font-size: 20px; 
	text-align: center; 

	&__entry {
		&:before,
		&:after {
			content: '';
			display: inline-block; 
			font-size: 0; 
			width: 30px;
			height: 25px; 
			background: url(../../images/quote-top.svg) no-repeat 0 0;
			background-size: 100% 100%;  
		}

		&:before {
			margin-bottom: 30px; 
		}

		&:after {
			margin-top: 30px; 
			transform: rotate(180deg); 
		}
	}
}

/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.quote {
		padding: 50px 0; 
		font-size: 18px; 
	}
}

/* === Mobile === */
@media #{$breakpoint-mobile} {
	.quote {
		&__entry {
			&:before {
				margin-bottom: 10px; 
			}

			&:after {
				margin-top: 10px; 
			}
		}
	}
}
