/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 50px 0; 

	&__head {
		margin-bottom: 20px; 
		text-align: center; 
	}

	&__body {
		margin-bottom: 20px; 
	}

	&__actions {
		text-align: center; 
	}

	&__entry {
		text-align: center; 
	}

	.contributions {
		padding: 0; 
	}
}
