/* ------------------------------------------------------------ *\
	Section Fields
\* ------------------------------------------------------------ */

.section-fields {
	&__inner {
		display: flex; 
		flex-direction: row-reverse;
	}	

	&__aside {
		position: relative; 
		width: 370px; 
		margin-right: 45px; 
		padding-bottom: 50px; 

		&:after {
			content: '';
			position: absolute; 
			top: 0; 
			right: 0; 
			bottom: 0; 
			width: 100vw; 
			background: #F1F5F9; 
		}
	}

	&__nav {
		position: relative; 
		z-index: 1; 

		ul {
			@include reset-list;
		}

		li + li {
			a {
				&:before {
					content: '';
					position: absolute; 
					right: 25px; 
					bottom: 0; 
					left: 0; 
					border-top: 1px dashed rgba(#3A4A53, .1); 
				}
			}
		}

		a {
			position: relative; 
			display: flex; 
			min-height: 80px;
			align-items: center; 
			padding: 12px 25px 12px 12px; 
			font-size: 14px; 
			font-weight: 500; 
			text-transform: uppercase; 
			color: #00577F; 
		}
		
		a:hover,
		.current a {
			background: rgba(#00577F, .05); 
			text-decoration: none; 
		}
	}

	&__content {
		flex: 1;
		padding: 50px 0; 
	}
}


/* === Tablet === */
@media #{$breakpoint-tablet-portrait} {
	.section-fields {
		&__aside {
			width: 270px; 
			margin-right: 30px; 
		}
	}
}

/* === Tablet === */
@media #{$breakpoint-mobile} {
	.section-fields {
		&__inner {
			display: block; 
		}

		&__aside {
			width: 100%; 
			margin: 0; 
			padding-bottom: 0; 

			&:after {
				right: 50%; 
				transform: translateX(50%); 
			}
		}

		&__nav {
			a {
				min-height: 0;
				font-size: 12px; 
			}
		}
	}
}
