/* ------------------------------------------------------------ *\
	Section Contacts
\* ------------------------------------------------------------ */

.section-contacts {
	display: flex; 
	flex-direction: column;
	min-height: calc(100vh - 135px); 

	.map {
		flex: 1;
		min-height: 400px;
	}

	.map,
	.contacts {
		width: 100%; 
	}
}


/* === Mobile === */
@media #{$breakpoint-mobile} {
	.section-contacts {
		min-height: calc(100vh - 100px);
	}
}
