/* ------------------------------------------------------------ *\
    Shell
\* ------------------------------------------------------------ */

.shell {
    max-width: 1160px;
    margin: auto; 
    padding-left: 20px; 
    padding-right: 20px; 

    &--fluid {
    	max-width: none;
    	width: 100%;
    }
}
