/*  Fonts  */
$font-size-base: 16px;
$line-height-base: 1.8;

$font-family-sans-serif: 'Raleway', sans-serif;
$font-family-serif: 'Lora', serif;

/*  Colors  */
$gray: #3A4A53;
$blue: #00577F;
$lightblue: #F1F5F9;

/*  Transition  */
$default-transition: .2s;

/*  Breakpoints  */
$breakpoint-tablet-portrait: '(max-width: 1023px)';
$breakpoint-mobile: '(max-width: 767px)';
