/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative; 
	min-height: 100vh; 
	padding-top: 100px; 
	display: flex; 
	flex-direction: column;

	.main {
		flex: 1;
		width: 100%; 
	}

	.footer {
		width: 100%; 
	}
}


/* === Mobile === */
@media #{$breakpoint-mobile} {
	.wrapper {
		padding-top: 65px; 
	}
}
